<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ticket html</title>
</head>

<body>
  <div style="float:left; width:100%;">
    <div style="width:950px;">
    <div style="float:left; width:100%; background-color:wheat; padding:5px;">
        <div style="float:left; width:20%;">

        <img src="http://rplcanada.com/TicketImg/side_bar.jpg" alt="" title="" style="width:93%;"/>
        </div>
        <div style="float:left; width:80%;">
     <div style="float:left; width:100%; text-align:center; margin-bottom:10px;">
      <ul style="float:left; width:100%; margin:0px; padding:0px;">
        <li style="list-style-type:none; display:inline; margin:2px 8px;"><img src="http://rplcanada.com/TicketImg/main_sponsor1.png" alt="" title="" /></li>
        <li style="list-style-type:none; display:inline; margin:2px 8px;"><img src="http://rplcanada.com/TicketImg/logo.png" alt="" title="" /></li>
        <li style="list-style-type:none; display:inline; margin:2px 8px;"><img src="http://rplcanada.com/TicketImg/main_sponsor2.png" alt="" title=""/></li>
        </ul>
     </div>
     <div style="float:left; width:100%; background:white; border:2px solid #666;">
       <div style="float:left; width:64%; border-right:2px solid;">
        <div style="float:left; width:100%; padding:12px 0; border-bottom:2px solid;">
         <p style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:16px; margin:0; padding:12px; color:#4f4d4d;">
         Event</p>
        <span style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#12268f; margin:0px; padding:12px;">
        RPL (Realtor Premier League) Canada Opening Ceremony 2017
        </span>
        </div>
        
        <div style="float:left; width:100%; padding:12px 0; border-bottom:2px solid;">
        <p style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:16px; margin:0; padding:12px; color:#4f4d4d;">
         Date + Time</p>
         <span style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#12268f; margin:0px; padding:12px;">
        Saturday, 23th June 2018 from 6:00pm onwards
        </span>
        </div>
        <div style="float:left; width:100%; padding:12px 0;">
         <p style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:16px; margin:0; padding:12px; color:#4f4d4d;">
         Location</p>
         <span style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#12268f; margin:0px; padding:12px;">
        <!--Teramoto Park 9000-, 9056 Chinguacousy Rd,<br/> 
        Brampton, ON L6X 0E6, Canada-->

             The Powerade Centre<br />
             7575 Kennedy Road South<br />
             Brampton, Ontario<br />
             L6W 4T2
        </span>
        </div>
       
       
       </div>
        <div style="float:left; width:35%;">
            
       <div style="float:left; width:100%; padding:12px 0; border-bottom:2px solid;">
           {total}
         <p style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:15px; margin:0; padding:0 8px; color:#4f4d4d;">
         Name</p>
        <span style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#12268f; margin:0px; padding:12px;">
        {username}
        </span>
           <p style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:15px; margin:0; padding:0 8px; color:#4f4d4d;">
               Phone No
           </p>
           <span style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#12268f; margin:0px; padding:12px;">
               {Phone}
           </span>
        <p style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:15px; margin:8px 0 0; padding:0 8px; color:#4f4d4d;">
         Brokerage</p>
        <span style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#12268f; margin:0px; padding:12px;">
        {brokerage}
        </span>
        <p style="float:left; font-family:Arial, Helvetica, sans-serif; font-size:15px; margin:16px 5px 0 0; padding:0 8px; color:#4f4d4d;">
         Adults</p>
        <span style="float:left; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#12268f; margin:0px; padding:12px;">
       {adults}
        </span>
        <p style="float:left; font-family:Arial, Helvetica, sans-serif; font-size:15px; margin:16px 5px 0 15px; padding:0 8px; color:#4f4d4d;">
         Kids</p>
        <span style="float:left; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#12268f; margin:0px; padding:12px;">
       {kids}
        </span>
        
        
        </div>
       <div style="float:left; width:100%; text-align:center; padding:20px 0;">
       <img src="http://rplcanada.com/TicketImg/bar_code.png" alt="" title=""/>
       </div>
       </div>
      
     </div>
     
     </div>
     </div>
     <div style="float:left; width:100%;">
     <p style="float:left; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center;">Designed & Developed by <a href="http://only4agents.com/">Only4Agents</a></p>
     </div>
    </div>
  </div>

</body>
</html>
