

@{ 
    Layout = null;
}
 <!DOCTYPE html>
<html lang="en">

<head>
<meta name="google-site-verification" content="VGCGUVGYf2E8Aca1HoDDqRDhjfn44Sy5aJbo7lAo83M" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114936991-1"></script>

 <script type="application/ld+json">
        {
        "context" : "http://schema.org",
        "type" : "SportsClub",
        "address" : {
        "type": "PostalAddress",
        "addressLocality": "Brampton",
        "addressRegion": "ON",
        "postalCode": "L6T 5C6",
        "streetAddress": "8500 Torbram Rd #54" },
        "name":"RPL Canada",
        "url":"http://rplcanada.com",
        "email":"info@rplcanada.com",
        "priceRange":"$",
        "telephone":"4168445725",
         "image": "http://rplcanada.com/rpl/images/logo-1.png"
        }
    </script>


	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114936991-1');
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <title>About Us - RPL Cricket Tournament Canada</title>
<meta name="description" content="We arrange a tournament cricket match every year to encourages Realtors to show their cricket skills and boost their confidence. RPL Canada is solely focused on providing the best quality and most accurate cricket information. See schedule for all upcoming RPL matches along with the date, and timings!"/>
    <!-- Css Files -->
    <link href="~/rpl/css/bootstrap.css" rel="stylesheet">
    <link href="~/rpl/css/font-awesome.css" rel="stylesheet">
    <link href="~/rpl/css/style.css" rel="stylesheet">
    <link href="~/rpl/css/owl.carousel.css" rel="stylesheet">
    <link href="~/rpl/css/color.css" rel="stylesheet">
    <link href="~/rpl/css/dl-menu.css" rel="stylesheet">
    <link href="~/rpl/css/flexslider.css" rel="stylesheet">
    <link href="~/rpl/css/prettyphoto.css" rel="stylesheet">
    <link href="~/rpl/css/responsive.css" rel="stylesheet">

    
</head>

<body>
    <!--// Main Wrapper \\-->
    <div class="ec-main-wrapper">
       
        <!--// Main Header \\-->
        <header id="ec-header">
            <!--// TopSection \\-->
            <div class="ec-top-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="ec-strip-info">
                                <li><a href="tel:416-844-5725"><i class="fa fa-phone"></i> 416-844-5725 </li></a>
                                <li><a  href="tel:905-452-3638"><i class="fa fa-phone"></i> 905-452-3638</li></a>
                               <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@rplcanada.com">info@rplcanada.com</a></li>
                            </ul>
							<div class="icons">
							<a href="https://www.facebook.com/RPL-Canada-333998513720661/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://twitter.com/RplCanada"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							<a href="https://www.pinterest.ca/rplcanada/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
							<a href="https://www.instagram.com/rplcanada/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://plus.google.com/109638228297400072569"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
					
                            <div class="ec-login-section">
                                @*<a href="#" id="OpenTestimonial" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-animation="animated zoomInLeft">Add Your Testimonial</a>*@
                                <a href="https://www.youtube.com/channel/UCwBAnrj6AgzDhxD2SB9Lehg" target="_blank" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-animation="animated zoomInLeft">
								RPL 2018 Videos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// TopSection \\-->
            <!--// Main Header \\-->
            <div class="ec-main-navsection">
                <div class="container">
                    <a href="http://rplcanada.com/" class="ec-logo"><img src="~/rpl/images/logo-1.png" alt="RPL Canada Logo"></a>
                    <div class="ec-right-section">
                        <nav class="ec-navigation">
                            <ul>
                                <li class="active"><a href="/home/index">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Teams 2017</a>
                                 <ul class="as-dropdown">
                                        <li><a href="/home/team1">Team Rajiv</a></li>
                                        <li><a href="/home/team2">Homelife Superstars</a></li>
                                        <li><a href="/home/team3">Re/Max Lions</a></li>
                                        <li><a href="/home/team4">Royal LePage Flowercity</a></li>
                                        <li><a href="/home/team5">Homelife Miracle 1</a></li>
                                        <li><a href="/home/team6">Re/Max Gold</a></li>
                                        <li><a href="/home/team7">Royal Star</a></li>
                                        <li><a href="/home/team8">Homelife Mircle 2</a></li>
                                        <li><a href="/home/team9">Re/Max Warriors</a></li>
                                    </ul>
                                </li>
								<li><a href="#">Teams 2018</a>
                                 <ul class="as-dropdown">
                                        <li><a href="#">Royal Star</a></li>
                                        <li><a href="#">Royal LePage Flowercity</a></li>
                                        <li><a href="#">Homelife Silver City</a></li>
										<li><a href="#">Superstar XI</a></li>
										<li><a href="#">Gujarat Royals</a></li>
                                        <li><a href="#">Miracle Strikers</a></li>
                                        <li><a href="#">Miracle XI</a></li>
										<li><a href="#">Miracle Blasters</a></li>
										<li><a href="#">Maple Leaf</a></li>
                                        <li><a href="#">Re/Max Gold</a></li>
										 <li><a href="#">Re/Max Center</a></li>
										  <li><a href="#">Re/Max Lion</a></li>
                                        <li><a href="#">CB Sun Kings</a></li>
                                        <li><a href="#">Sutton Experts</a></li>
                                       <li><a href="#">Century21 Green</a></li>
                                    </ul>
                                </li>
                                 <li><a href="/home/match_scedule">Match Schedule</a>
                                </li>
                                @*<li><a href="/home/match_result">Match Results</a>
                                </li>*@
                                <li>
                                    <a href="#">Points Table</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/points_table">Points Table 2017</a></li>
                                        <li><a href="/home/points_table_2">Points Table 2018</a></li>
                                    </ul>

                                </li>
                                 <li><a href="/home/main_gallery">Gallery</a>
                                </li>
                                <li><a href="/home/contact_us">Contact us</a>
                                </li>
                            </ul>
                        </nav>
                        <!--// Responsive Menu //-->
                        <div id="as-menu" class="as-menuwrapper">
                            <button class="as-trigger">Open Menu</button>
                            <ul class="as-menu">
                                <li class="active"><a href="/home/index">Home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">Teams 2017</a>
                                <ul class="as-submenu">
                                        <li><a href="/home/team1">Team Rajiv</a></li>
                                        <li><a href="/home/team2">Homelife Superstars</a></li>
                                        <li><a href="/home/team3">Re/Max Lions</a></li>
                                        <li><a href="/home/team4">Royal LePage Flowercity</a></li>
                                        <li><a href="/home/team5">Homelife Miracle 1</a></li>
                                        <li><a href="/home/team6">Re/Max Gold</a></li>
                                        <li><a href="/home/team7">Royal Star</a></li>
                                        <li><a href="/home/team8">Homelife Mircle 2</a></li>
                                        <li><a href="/home/team9">Re/Max Warriors</a></li>
                                    </ul>
                                 </li>
								 <li><a href="#">Teams 2018</a>
                                 <ul class="as-submenu">
                                        <li><a href="#">Royal Star</a></li>
                                        <li><a href="#">Royal LePage Flowercity</a></li>
                                        <li><a href="#">Homelife Silver City</a></li>
										<li><a href="#">Superstar XI</a></li>
										<li><a href="#">Gujarat Royals</a></li>
                                        <li><a href="#">Miracle Strikers</a></li>
                                        <li><a href="#">Miracle XI</a></li>
										<li><a href="#">Miracle Blasters</a></li>
										<li><a href="#">Maple Leaf</a></li>
                                        <li><a href="#">Re/Max Gold</a></li>
										 <li><a href="#">Re/Max Center</a></li>
										  <li><a href="#">Re/Max Lion</a></li>
                                        <li><a href="#">CB Sun Kings</a></li>
                                        <li><a href="#">Sutton Experts</a></li>
                                       <li><a href="#">Century21 Green</a></li>
                                    </ul>
                                </li>
                                 <li><a href="/home/match_scedule">Match Schedule</a>
                                </li>
                                @*<li><a href="/home/match_result">Match Results</a>
                                </li>*@
                                <li>
                                    <a href="#">Points Table</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/points_table">Points Table 2017</a></li>
                                        <li><a href="/home/points_table_2">Points Table 2018</a></li>
                                    </ul>

                                </li>
                                  <li><a href="/home/main_gallery">Gallery</a>
                                </li>
                                <li><a href="/home/contact_us">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <!--// Responsive Menu //-->
                        
                    </div>
                </div>
            </div>
            <!--// Main Header \\-->
        </header>
        <!--// Main Header \\-->
        <!--// Main Banner \\-->
        <div class="ec-mini-header">
            <span class="ec-blue-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-mini-title">
                            <h1>About us</h1>
                        </div>
                        <div class="ec-breadcrumb">
                            <ul>
                                <li><a href="/home/index">Home</a></li>
                                <li>About us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Banner \\-->
        <!--// Main Content \\-->
        <div class="ec-main-content">
            <!--// Main Section \\-->
            <div class="ec-main-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ec-fixture-detail">
                                <div class="ec-detail-editor">
                                    <h4>About us</h4>
                                    <p>Only4Agents and Singh Grafix in collaboration are delighted to introduce for the first time in North America to a New Cricket Tournament bringing together GTA realtors to compete for the "Realtor Premier League Cup."</p>
                                    <p>The Realtor Premier League is a cricket league that will encourage the participation of GTA realtors using the power of cricket not only to provide the environment to collaborate with each other but also to engage with wider community.</p>
                                    
                                    <p>The aim of the tournament is to give an opportunity to the participating brokerages to provide a platform for their realtors to show their crickets skills in the second most popular sport in the world. It is an opportunity to unite the real estate agents from across the Toronto in a competitive and fun atmosphere.The realtor premier league (RPL ) comprises of teams that represents their brokerages.</p>
                                    
                                </div>
                               
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
        </div>
        <!--// Main Content \\-->
        <footer id="ec-footer">
           
            <!--// Footer Widget \\-->
            <div class="ec-footer-widget">
                <div class="container">
                    <div class="row">
                        <aside class="widget col-md-4 ec-recentnews_widget">
                            <div class="ec-section-heading">
                            <img src="~/rpl/extra-images/futer_img1.png" alt="Only4agents Logo" title=""/>
                               </div>
                            
                        </aside>
                        <aside class="widget col-md-4 ec-recentnews_widget">
                            <div class="ec-section-heading">
                            <img src="~/rpl/extra-images/futer_img2.png" alt="Singh Grafix Logo" title=""/>
                               </div>
                            
                        </aside>
                       
                        <aside class="widget col-md-4 widget_text_info">
                            <div class="ec-section-heading">
                                <h2>Contact Info</h2></div>
                            <ul>
                               
                                    <li>
                                    <i class="fa fa-envelope"></i>
                                    <span><a href="mailto:info@rplcanada.com">info@rplcanada.com</a></span>
                                
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:416-844-5725">416-844-5725</a></span>
                                </li>
                                 <li>
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:905-452-3638">905-452-3638</a></span>
                                </li>
								<div class="icon">						
							<a href="https://www.facebook.com/RPL-Canada-333998513720661/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://twitter.com/RplCanada"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							<a href="https://www.pinterest.ca/rplcanada/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
							<a href="https://www.instagram.com/rplcanada/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://plus.google.com/109638228297400072569"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                            </ul>
                            
                        </aside>
                    </div>
                </div>
            </div>
            <!--// Footer Widget \\-->
            <!--// CopyRight Section \\-->
            <div class="ec-bottom-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="index" class="ec-footer-logo"><img src="~/rpl/images/footer-logo.png" alt="RPL Logo"></a>
                            <div class="ec-copyright">
                                <p><a href="index">RPL</a> © Copyright 2018. All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="ec-right-section">
                                <a href="/home/index" class="backtop-btn">Back to top <i class="fa fa-caret-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// CopyRight Section \\-->
        </footer>
    </div>
    <!--// Main Wrapper \\-->
    <!-- ModalLogin Box -->
    
    <!-- ModalLogin Box -->
    <!-- jQuery (necessary for JavaScript plugins) -->
    <script src="~/rpl/script/jquery.js"></script>
    <script src="~/rpl/script/modernizr.js"></script>
    <script src="~/rpl/script/bootstrap.min.js"></script>
    <script src="~/rpl/script/jquery.dlmenu.js"></script>
    <script src="~/rpl/script/flexslider-min.js"></script>
    <script src="~/rpl/script/jquery.prettyphoto.js"></script>
    <script src="~/rpl/script/waypoints-min.js"></script>
    <script src="~/rpl/script/owl.carousel.min.js"></script>
    <script src="~/rpl/script/jquery.countdown.min.js"></script>
    <script src="~/rpl/script/fitvideo.js"></script>
    <script src="~/rpl/script/newsticker.js"></script>
    <script src="~/rpl/script/skills.js"></script>
    <script src="~/rpl/script/functions.js"></script>
    <!-- ModalLogin Box -->
    <div class="modal fade" id="ModalTestimonial" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="ec-modallogin-form ec-login-popup">
                        <span class="ec-color">Enter here for Testimonial</span>
                        @using (Html.BeginForm("Testimonial", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <ul>
                                <li>
                                    <input name="file" type="file" placeholder="Choose file">
                                </li>
                                <li>
                                    <input name="FirstName" type="text" placeholder="Your First Name" required>
                                </li>
                                <li>
                                    <input name="LastName" type="text" placeholder="Your Last Name">
                                </li>
                                <li>
                                    <input name="Email" type="text" placeholder="Your E-mail">
                                </li>
                                <li>
                                    <input name="PhoneNo" type="text" placeholder="Your Phone No">
                                </li>
                                <li>
                                    <input name="Brokerage" type="text" placeholder="Your Brokerage">
                                </li>
                                <li>
                                    <textarea name="Remarks" id="Comment" class="txtarea" placeholder="Description" required></textarea>
                                </li>
                                <li>
                                    <input type="submit" value="Register">
                                </li>
                            </ul>
                        }


                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- ModalLogin Box -->
    <script>
    var options = {
        newsList: "#ec-news",
        startDelay: 10,
        placeHolder1: ""
    }
    jQuery().newsTicker(options);
    </script>
    <script type="text/javascript">

    $(document).ready(function () {
        $(document).on('click', '#OpenTestimonial', function (event) {
               
            $("#ModalTestimonial").modal('show');


        });

    });
    </script>
</body>

</html>
