@{
    Layout = null;

}

<!DOCTYPE html>

<html lang="en">


<head>
<meta name="google-site-verification" content="VGCGUVGYf2E8Aca1HoDDqRDhjfn44Sy5aJbo7lAo83M" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114936991-1"></script>
   
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "SportsClub",
        "address" : {
        "@@type": "PostalAddress",
        "addressLocality": "Brampton",
        "addressRegion": "ON",
        "postalCode": "L6T 5C6",
        "streetAddress": "8500 Torbram Rd #54" },
        "name":"RPL Canada",
        "url":"http://rplcanada.com",
        "email":"info@rplcanada.com",
		"priceRange":"$",
        "telephone":"4168445725",
		 "image": "http://rplcanada.com/rpl/images/logo-1.png"
        }
    </script>

    
  
<script>

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114936991-1');
</script>

<script type='application/ld+json'>
{
"@@context":"https://schema.org",
"@@type":"Organization",
"url":"http://rplcanada.com/\/",
"sameAs":["https://www.facebook.com/rplcanada/\/",
"https://www.pinterest.ca/rplcanada/",
"https://www.instagram.com/rplcanada/",
"https://plus.google.com/109638228297400072569",
"https://twitter.com/RplCanada"],
"@@id":"#organization",
"name":"RPL Canada" 
}
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RPL Cricket League and Match Tournament in Canada</title>
<meta name="description" content="Realtor Premier League is a Canada RPL cricket tournament who encourages Realtors to participate & engage with wider community. Our aim is to give an opportunity to the realtors to show their skills in the world best game cricket. Visit rplcanada.com & check out all latest RPL matches schedule, news, scores & teams."/>
    <!-- Css Files -->



    <link href="~/rpl/css/bootstrap.css" rel="stylesheet">
    <link href="~/rpl/css/font-awesome.css" rel="stylesheet">
    <link href="~/rpl/css/style.css" rel="stylesheet">
    <link href="~/rpl/css/owl.carousel.css" rel="stylesheet">
    <link href="~/rpl/css/color.css" rel="stylesheet">
    <link href="~/rpl/css/dl-menu.css" rel="stylesheet">
    <link href="~/rpl/css/flexslider.css" rel="stylesheet">
    <link href="~/rpl/css/prettyphoto.css" rel="stylesheet">
    <link href="~/rpl/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
    <link href='www.fonts.googleapis_4434B7E0' rel='stylesheet' type='text/css'>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="~/rpl/script/bootstrap.min.js"></script>


</head>

<body>
    <!--// Main Wrapper \\-->
    <div class="ec-main-wrapper">


        <!--// Main Header \\-->
        <header id="ec-header">
            <!--// TopSection \\-->
            <div class="ec-top-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="ec-strip-info">
                                <li><a href="tel:416-844-5725"><i class="fa fa-phone"></i> 416-844-5725 </li></a>
                                <li><a  href="tel:905-452-3638"><i class="fa fa-phone"></i> 905-452-3638</li></a>
                                <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@rplcanada.com">info@rplcanada.com</a></li>
                            </ul>
						<div class="icons">
							<a href="https://www.facebook.com/RPL-Canada-333998513720661/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://twitter.com/RplCanada"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							<a href="https://www.pinterest.ca/rplcanada/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
							<a href="https://www.instagram.com/rplcanada/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://plus.google.com/109638228297400072569"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
					
							
                            <div class="ec-login-section">
                               <a href="https://www.youtube.com/channel/UCwBAnrj6AgzDhxD2SB9Lehg" target="_blank" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-animation="animated zoomInLeft">
								RPL 2018 Videos</a>
                                @*<a href="#" id="OpenTestimonial" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-animation="animated zoomInLeft" >Add Your Testimonial</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// TopSection \\-->
            <!--// Main Header \\-->
            <div class="ec-main-navsection">
                <div class="container">
                    <a href="http://rplcanada.com/" class="ec-logo"><img src="~/rpl/images/logo-1.png" alt="RPL Canada Logo"></a>
                    <div class="ec-right-section">
                        <nav class="ec-navigation">
                            <ul>
                                <li class="active"><a href="/home/index">Home</a></li>
                                <li><a href="/home/about_us">about us</a></li>
                                <li>
                                    <a href="#">Teams 2017</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/team1">Team Rajiv</a></li>
                                        <li><a href="/home/team2">Homelife Superstars</a></li>
                                        <li><a href="/home/team3">Re/Max Lions</a></li>
                                        <li><a href="/home/team4">Royal LePage Flowercity</a></li>
                                        <li><a href="/home/team5">Homelife Miracle 1</a></li>
                                        <li><a href="/home/team6">Re/Max Gold</a></li>
                                        <li><a href="/home/team7">Royal Star</a></li>
                                        <li><a href="/home/team8">Homelife Mircle 2</a></li>
                                        <li><a href="/home/team9">Re/Max Warriors</a></li>
                                    </ul>
                                </li>
								<li><a href="#">Teams 2018</a>
                                 <ul class="as-dropdown">
                                        <li><a href="#">Royal Star</a></li>
                                        <li><a href="#">Royal LePage Flowercity</a></li>
                                        <li><a href="#">Homelife Silver City</a></li>
										<li><a href="#">Superstar XI</a></li>
										<li><a href="#">Gujarat Royals</a></li>
                                        <li><a href="#">Miracle Strikers</a></li>
                                        <li><a href="#">Miracle XI</a></li>
										<li><a href="#">Miracle Blasters</a></li>
										<li><a href="#">Maple Leaf</a></li>
                                        <li><a href="#">Re/Max Gold</a></li>
										 <li><a href="#">Re/Max Center</a></li>
										  <li><a href="#">Re/Max Lion</a></li>
                                        <li><a href="#">CB Sun Kings</a></li>
                                        <li><a href="#">Sutton Experts</a></li>
                                       <li><a href="#">Century21 Green</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/home/match_scedule">Match Schedule</a>
                                </li>
                                @*<li><a href="/home/match_result">Match Results</a>
                                    </li>*@
                                <li>
                                    <a href="#">Points Table</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/points_table">Points Table 2017</a></li>
                                        <li><a href="/home/points_table_2">Points Table 2018</a></li>
                                    </ul>
                                  
                                </li>
                                <li>
                                    <a href="/home/main_gallery">Gallery</a>
                                </li>
                                <li>
                                    <a href="/home/contact_us">Contact us</a>
                                </li>
                            </ul>
                        </nav>
                        <!--// Responsive Menu //-->
                        <div id="as-menu" class="as-menuwrapper">
                            <button class="as-trigger">Open Menu</button>
                            <ul class="as-menu">
                                <li class="active"><a href="/home/index">Home</a></li>
                                <li><a href="/home/about_us">about us</a></li>
                                <li>
                                    <a href="#">Teams 2017</a>
                                    <ul class="as-submenu">
                                        <li><a href="/home/team1">Team Rajiv</a></li>
                                        <li><a href="/home/team2">Homelife Superstars</a></li>
                                        <li><a href="/home/team3">Re/Max Lions</a></li>
                                        <li><a href="/home/team4">Royal LePage Flowercity</a></li>
                                        <li><a href="/home/team5">Homelife Miracle 1</a></li>
                                        <li><a href="/home/team6">Re/Max Gold</a></li>
                                        <li><a href="/home/team7">Royal Star</a></li>
                                        <li><a href="/home/team8">Homelife Mircle 2</a></li>
                                        <li><a href="/home/team9">Re/Max Warriors</a></li>
                                    </ul>
                                </li>
								<li><a href="#">Teams 2018</a>
                                 <ul class="as-submenu">
                                        <li><a href="#">Royal Star</a></li>
                                        <li><a href="#">Royal LePage Flowercity</a></li>
                                        <li><a href="#">Homelife Silver City</a></li>
										<li><a href="#">Superstar XI</a></li>
										<li><a href="#">Gujarat Royals</a></li>
                                        <li><a href="#">Miracle Strikers</a></li>
                                        <li><a href="#">Miracle XI</a></li>
										<li><a href="#">Miracle Blasters</a></li>
										<li><a href="#">Maple Leaf</a></li>
                                        <li><a href="#">Re/Max Gold</a></li>
										 <li><a href="#">Re/Max Center</a></li>
										  <li><a href="#">Re/Max Lion</a></li>
                                        <li><a href="#">CB Sun Kings</a></li>
                                        <li><a href="#">Sutton Experts</a></li>
                                       <li><a href="#">Century21 Green</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/home/match_scedule">Match Schedule</a>
                                </li>
                                @*<li><a href="/home/match_result">Match Results</a>
                                    </li>*@
                                <li>
                                    <a href="#">Points Table</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/points_table">Points Table 2017</a></li>
                                        <li><a href="/home/points_table_2">Points Table 2018</a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a href="/home/main_gallery">Gallery</a>
                                </li>
                                <li>
                                    <a href="/home/contact_us">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <!--// Responsive Menu //-->

                    </div>
                </div>
            </div>
            <!--// Main Header \\-->
        </header>
        <!--// Main Header \\-->
        <!--// Main Banner \\-->


        <div id="first-slider">
            <div id="carousel-example-generic" class="carousel slide carousel-fade">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Item 1 -->
                    <div class="item active slide1">
                        <div class="row">
                            <div class="container">

                                <div class="col-md-7 text-left">
                                    <h3 data-animation="animated bounceInDown">RPL <span class="trt">Canada</span></h3>
                                    <h4 data-animation="animated bounceInUp">Realtor Premier League 2018</h4>
                                    
                                </div>
                                <div class="col-md-5 text-right">
                                    <a href="#"> <img data-animation="animated zoomInLeft" src="~/rpl/extra-images/main_sponsor1.png"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Item 2 -->
                    <div class="item slide2">
                        <div class="row">
                            <div class="container">
                                <div class="col-md-7 text-left">
                                    <h3 data-animation="animated bounceInDown"> RPL <span class="trt">Canada</span></h3>
                                    <h4 data-animation="animated bounceInUp">Realtors Let's Play Cricket</h4>
                                    
                                </div>
                                <div class="col-md-5 text-right">
                                    <a href="#">   <img data-animation="animated zoomInLeft" src="~/rpl/extra-images/main_sponsor2.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="item slide3">
                        <div class="row">
                            <div class="container">
                                <div class="col-md-12 text-left">
                                    
                                    <img data-animation="animated zoomInLeft" src="~/rpl/extra-images/main_sponsor7.png">

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Item 4 -->
                    <div class="item slide4">

                    </div>
                    <!-- End Item 4 -->

                </div>
                <!-- End Wrapper for slides-->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!--// Main Banner \\-->
        <!--// Main Content \\-->
        <div class="ec-main-content">
            <!--// Main Section \\-->
            <!--// Main Section \\-->
            <!--// Main Section \\-->
            <div class="ec-main-section ec-promofull top_paddng2">

                <div class="col-md-12">

                </div>
                <div class="sponsor_sect_bg">
                    <div class="container">
                        <div class="sponsor_sect1">
                            <h2>CIBC Cup 2018 Main Sponsor</h2>

                            <div class="col-md-3 col-sm-3"></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="sponsor_logo_m">
                                    <a href="https://www.cibc.com/en/personal-banking.html" target="_blank"><img src="~/rpl/extra-images/sponsor3.png" alt="RPL Cricket Sponsor" title="" /></a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                        </div>

                          <div class="sponsor_sect1">
                            <h2>Co-Sponsors</h2>
                            <div class="col-md-3 col-sm-3">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="sponsor_logo">
                                    <a href="#"><img src="~/rpl/extra-images/co-sponsor1.png" alt="RPL Match" title="" /></a>
                                </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-3">
                            </div>

                        </div>

                    </div>
                </div>



                <div class="container">
                    <div class="col-md-12">
                        <div class="ec-simple-title">
                            <h2>RPL 2018 Team Sponsors</h2>
                        </div>
                        <div class="ec-sponsored">
                            <div class="item">
                                <a href="http://www.kelleylawoffice.ca" target="_blank"><img src="~/rpl/extra-images/sponsr_2018_1.jpg" alt="RPL Cricket Highlights"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="~/rpl/extra-images/sponsr_2018_2.jpg" alt="RPL Cricket Scores"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="~/rpl/extra-images/sponsr_2018_3.jpg" alt="RPL Cricket Match"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="~/rpl/extra-images/sponsr_2018_4.jpg" alt="Cricket Match in Canada"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="~/rpl/extra-images/sponsr_2018_5.jpg" alt="RPL Cricket"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="~/rpl/extra-images/sponsr_2018_6.jpg" alt="RPL Cricket Schedule"></a>
                            </div>

                        </div>
                    </div>

                    <!--<div class="col-md-12">
                        <div class="ec-simple-title">
                            <h2>RPL 2017 Sponsors</h2>
                        </div>
                        <div class="ec-sponsored">
                            <div class="item">
                                <a href="http://www.kelleylawoffice.ca" target="_blank"><img src="~/rpl/extra-images/sponsr_img1.png" alt="RPL Cricket Highlights"></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="~/rpl/extra-images/sponsr_img2.png" alt="RPL Cricket Scores"></a>
                            </div>
                            <div class="item">
                                <a href="http://www.erinmillsacura.ca/" target="_blank"><img src="~/rpl/extra-images/sponsr_img3.png" alt="RPL Cricket Match"></a>
                            </div>
                            <div class="item">
                                <a href="http://www.nanakcarwash.com/" target="_blank"><img src="~/rpl/extra-images/sponsr_img4.png" alt="Cricket Match in Canada"></a>
                            </div>
                            <div class="item">
                                <a href="http://www.edwiseinspection.com/" target="_blank"><img src="~/rpl/extra-images/sponsr_img5.png" alt="RPL Cricket"></a>
                            </div>
                            <div class="item">
                                <a href="http://amitkhurana.ca/" target="_blank"><img src="~/rpl/extra-images/sponsr_img6.png" alt="RPL Cricket Schedule"></a>
                            </div>

                        </div>
                    </div>-->
                    <div class="row">
                        <!--// Match Fixture \\-->
                        <div class="col-md-8">
                            <div class="ec-fancy-title">
                                <h2>Match Schedule 2018</h2>
                            </div>
                            <div class="ec-fixture-list">
                                <ul>
                                    <li>
                                        <div class="ec-cell clmn_clr1"><span>26 June, Tuesday 02:00pm</span></div>
                                        <div class="ec-cell">
                                            <a href="#" class="ec-fixture-flag"><img src="~/rpl/extra-images/fixer-flag-3.png" alt="Remax Lion">Remax Lion</a>
                                            <span class="ec-fixture-vs"><small>vs</small></span>
                                            <a href="#" class="ec-fixture-flag ec-next-flag"><img src="~/rpl/extra-images/fixer-flag-3.png" alt="Remax Centre"> Remax Centre</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-cell clmn_clr1"><span>26 June, Tuesday 02:00pm</span></div>
                                        <div class="ec-cell">
                                            <a href="#" class="ec-fixture-flag"><img src="/rpl/extra-images/fixer-flag-1.png" alt="Superstar XI"> Superstar XI</a>
                                            <span class="ec-fixture-vs"><small>vs</small></span>
                                            <a href="#" class="ec-fixture-flag ec-next-flag"><img src="/rpl/extra-images/fixer-flag-1.png" alt="Gujrat Royals">Gujrat Royals </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-cell clmn_clr2"><span>26 June, Tuesday 04:00pm</span></div>
                                        <div class="ec-cell">
                                            <a href="#" class="ec-fixture-flag"><img src="~/rpl/extra-images/fixer-flag-5.png" alt="CB Sun Kings"> CB Sun Kings</a>
                                            <span class="ec-fixture-vs"><small>vs</small></span>
                                            <a href="#" class="ec-fixture-flag ec-next-flag"><img src="~/rpl/extra-images/fixer-flag-7.png" alt="Royal Star"> Royal Star</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-cell clmn_clr2"><span>26 June, Tuesday 04:00pm</span></div>
                                        <div class="ec-cell">
                                            <a href="#" class="ec-fixture-flag"><img src="~/rpl/extra-images/fixer-flag-3.png" alt="Remax Gold">Remax Gold</a>
                                            <span class="ec-fixture-vs"><small>vs</small></span>
                                            <a href="#" class="ec-fixture-flag ec-next-flag"><img src="~/rpl/extra-images/fixer-flag-6.png" alt="Century 21 Green ">  Century 21 Green </a>
                                        </div>
                                    </li>
                                </ul>

                                <a href="/home/match_scedule" class="ec-ticket-button">Click Here for More Schedule</a>
                            </div>
                        </div>
                        <!--// TablePoint \\-->
                        <div class="col-md-4">
                            <div class="ec-fancy-title">
                                <h2>Table Points 2018</h2>
                            </div>
                            <div class="ec-table-point">
                                <ul class="ec-table-head">
                                    <li>
                                        <div class="ec-cell">S.#</div>
                                        <div class="ec-cell">Team</div>
                                        <div class="ec-cell">Points</div>
                                        <div class="ec-cell">Win</div>
                                        <div class="ec-cell">Loss</div>
                                    </li>
                                </ul>
                                <ul class="ec-table-list">
                                    <li>
                                        <div class="ec-cell">1</div>
                                        <div class="ec-cell">Flower City </div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                    </li>
                                    <li>
                                        <div class="ec-cell">2</div>
                                        <div class="ec-cell">Royal Star</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                    </li>
                                    <li>
                                        <div class="ec-cell">3</div>
                                        <div class="ec-cell">Gujrat Royals</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                    </li>
                                    <li>
                                        <div class="ec-cell">4</div>
                                        <div class="ec-cell">Re/Max Lions</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                    </li>
                                    <li>
                                        <div class="ec-cell">5</div>
                                        <div class="ec-cell">Homelife Superstars</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                        <div class="ec-cell">0</div>
                                    </li>
                                </ul>
                                <a href="/home/points_table_2" class="ec-ticket-button">Click Here for Full Points Table</a>
                            </div>

                        </div>
                        <!--// TablePoint \\-->
                        <!--// Partner \\-->
                        <div class="col-md-12">
                            <div class="ec-simple-title">
                                <h2>Our Teams 2018</h2>
                            </div>
                            <div class="ec-sponsored">
                                <div class="item">
                                    <a href="http://www.cbsunrealty.com/1492.aspx" target="_blank"><img src="~/rpl/extra-images/partner-logo-1.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="http://www.remaxgold.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-2.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="http://www.flowercityrealty.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-3.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="https://www.century21.ca/greenrealty" target="_blank"><img src="~/rpl/extra-images/partner-logo-4.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="https://www.royalstarrealty.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-5.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="http://homelifemiracle.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-6.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="https://www.homelifesuperstars.com" target="_blank"><img src="~/rpl/extra-images/partner-logo-7.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="http://homelifemiracle.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-8.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href="https://www.hlmapleleaf.com" target="_blank"><img src="~/rpl/extra-images/partner-logo-9.jpg" alt=""></a>
                                </div>
								 <div class="item">
                                    <a href="http://homelifemiracle.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-10.jpg" alt=""></a>
                                </div>
								 <div class="item">
                                    <a href="http://homelifemiracle.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-11.jpg" alt=""></a>
                                </div> 
								<div class="item">
                                    <a href="https://realtyexperts.sutton.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-12.jpg" alt=""></a>
                                </div>
								 <div class="item">
                                    <a href="http://www.remaxcentre.ca/" target="_blank"><img src="~/rpl/extra-images/partner-logo-13.jpg" alt=""></a>
                                </div> 
								<div class="item">
                                    <a href="#"><img src="~/rpl/extra-images/partner-logo-14.jpg" alt=""></a>
                                </div>
								<div class="item">
                                    <a href="https://www.homelifesilvercityteam.com/" target="_blank"><img src="~/rpl/extra-images/partner-logo-15.jpg" alt=""></a>
                                </div>
								
                            </div>
                        </div>
                        <!--// Partner \\-->
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
            <!--// Main Section \\-->
            <div class="ec-main-section ec-full-parallexbg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ec-parallex-info">
                                <span>ready to be Join</span>
                                <h2>Realtor Premier League 2018</h2>
                                <p>Let's play RPL Cricket this year and boost your confidence to show your cricket skills. Be ready Realtors to participate in RPL Cricket Tournament Canada 2018.</p>
                                <!--<a href="#" class="ec-default-button"  data-toggle="modal" data-target="#ModalLogin">ENTER FOR REGISTRATION</a> -->
                                <a href="https://www.youtube.com/channel/UCwBAnrj6AgzDhxD2SB9Lehg" class="ec-default-button" target="_blank">Click here for Live Straming</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
            <!--// Main Section \\-->
            
            <!--// Main Section \\-->
            <!--// Main Section \\-->
            <div class="ec-main-section">
                <div class="container">

                </div>
            </div>
            <!--// Main Section \\-->
            <!--// Main Section \\-->
            <div class="ec-main-section blog-grid-full">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ec-simple-title">
                                <h2>Our Gallery</h2>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="ec-gallery ec-simple-gallery">
                                <ul class="row gallery">
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img src="~/rpl/extra-images/opening_ceremony/thumb_1.jpg" alt="Cricket Match Schedule"></a>
                                            <h4 class="glry_hdng">Opening Ceremony</h4>
                                            <figcaption>
                                                <a title="" href="/home/opening_gallery" class="ec-color"><i class="fa fa-compress"></i></a>

                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img src="~/rpl/extra-images/random pics/thumb_4.jpg" alt="Canada Cricket Team"></a>
                                            <h4 class="glry_hdng">Random Pics of RPL</h4>
                                            <figcaption>
                                                <a title="" href="/home/gallery2" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img src="~/rpl/extra-images/first_semi/thumb_1.jpg" alt="Cricket in Canada"></a>
                                            <h4 class="glry_hdng">First Semi-Final Match</h4>
                                            <figcaption>
                                                <a title="" href="/home/gallery4" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img src="~/rpl/extra-images/second_semi/thumb_1.jpg" alt="RPL Cricket"></a>
                                            <h4 class="glry_hdng">Second Semi-Final Match</h4>
                                            <figcaption>
                                                <a title="" href="/home/gallery5" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img src="~/rpl/extra-images/gallery3/thum_1.jpg" alt="RPL Match"></a>
                                            <h4 class="glry_hdng">Final Match</h4>
                                            <figcaption>
                                                <a title="" href="/home/gallery3" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img src="~/rpl/extra-images/closing/thum_1.jpg" alt="RPL Match in Canada"></a>
                                            <h4 class="glry_hdng">Closing Ceremony</h4>
                                            <figcaption>
                                                <a title="" href="/home/gallery6" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img src="~/rpl/extra-images/opening_ceremony/thumb_26.jpg" alt="RPL Opening Ceremony"></a>
                                            @*<h4 class="glry_hdng">Remax Warriors &nbsp;vs&nbsp; Royal Star</h4>*@
                                            <figcaption>
                                                <a title="" href="#" class="ec-color"><i class="fa fa-compress"></i></a>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li class="col-md-3">
                                        <figure>
                                            <a href="#"><img src="~/rpl/extra-images/opening_ceremony/thumb_26.jpg" alt="RPL Canada"></a>
                                            @*<h4 class="glry_hdng">Miracle 1 &nbsp;vs&nbsp; Remax Gold</h4>*@
                                            <figcaption>
                                                <a title="" href="#" class="ec-color"><i class="fa fa-compress"></i></a>

                                            </figcaption>
                                        </figure>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->

        </div>
        <!--// Main Content \\-->
        <footer id="ec-footer">

            <!--// Footer Widget \\-->
            <div class="ec-footer-widget">
                <div class="container">
                    <div class="row">
                        <aside class="widget col-md-4 ec-recentnews_widget">
                            <div class="ec-section-heading">
                                <img src="~/rpl/extra-images/futer_img1.png" alt="Only4agents" title="" />
                            </div>

                        </aside>
                        <aside class="widget col-md-4 ec-recentnews_widget">
                            <div class="ec-section-heading">
                                <img src="~/rpl/extra-images/futer_img2.png" alt="Singh Grafix" title="" />
                            </div>

                        </aside>

                        <aside class="widget col-md-4 widget_text_info">
                            <div class="ec-section-heading">
                                <h2>Contact Info</h2>
                            </div>
                            <ul>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <span><a href="mailto:info@rplcanada.com">info@rplcanada.com</a></span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:416-844-5725">416-844-5725</a></span>
                                </li>
                                 <li>
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:905-452-3638">905-452-3638</a></span>
                                </li>
								<div class="icon">						
							<a href="https://www.facebook.com/RPL-Canada-333998513720661/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://twitter.com/RplCanada"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							<a href="https://www.pinterest.ca/rplcanada/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
							<a href="https://www.instagram.com/rplcanada/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://plus.google.com/109638228297400072569"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
								</ul>
							
                        </aside>
                    </div>
                </div>
            </div>
            <!--// Footer Widget \\-->
            <!--// CopyRight Section \\-->
            <div class="ec-bottom-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="http://rplcanada.com/" class="ec-footer-logo"><img src="~/rpl/images/footer-logo.png" alt="RPL Canada Logo"></a>
                            <div class="ec-copyright">
                       
         <p><a href="http://rplcanada.com/">RPL</a> 2018. © Copyright 2018. All Rights Reserved</a></p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="ec-right-section">
                                <a href="/home/index" class="backtop-btn">Back to top <i class="fa fa-caret-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// CopyRight Section \\-->
        </footer>
    </div>
    <!--// Main Wrapper \\-->
    <!-- ModalLogin Box -->
    <div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="ec-modallogin-form ec-login-popup">
                        <span class="ec-color">Enter here for Register</span>
                        <form>
                            <ul>
                                <li>
                                    <input type="text" placeholder="Your First Name" id="FirstName" required>
                                </li>
                                <li>
                                    <input type="text" placeholder="Your Last Name" id="LastName" required>
                                </li>
                                <li>
                                    <input type="text" placeholder="Your E-mail" id="Email" required>
                                </li>
                                <li>
                                    <input type="text" placeholder="Your Phone No" id="Phone" required>
                                </li>
                                <li>
                                    <input type="text" placeholder="Your Brokerage" id="Brokerage" required>
                                </li>
                                <li>
                                    <input type="button" value="Register" onclick="Send()" class="register"> 

                                    @*<input type="submit" value="Register">*@
                                </li>
                            </ul>
                        </form>
                        @*<span class="ec-color">or try our socials</span>
                        <ul class="ec-login-social-media">
                            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li class="ec-twitter-color"><a href="#"><i class="fa fa-twitter"></i> twitter</a></li>
                            <li class="ec-googleplus-color"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                        </ul>*@
                        <!--<p>Not a member yet? <a href="#">Sign-up Now!</a></p>-->
                    </div>
                    <div class="ec-modallogin-form ec-register-popup">
                        <span class="ec-color">create Your Account today</span>
                        <form>
                            <ul>
                                <li>
                                    <input type="text" value="Your Username" onblur="if(this.value == '') { this.value ='Your Username'; }" onfocus="if(this.value =='Your Username') { this.value = ''; }">
                                </li>
                                <li>
                                    <input type="text" value="Your E-mail" onblur="if(this.value == '') { this.value ='Your E-mail'; }" onfocus="if(this.value =='Your E-mail') { this.value = ''; }">
                                </li>
                                <li>
                                    <input type="password" value="password" onblur="if(this.value == '') { this.value ='password'; }" onfocus="if(this.value =='password') { this.value = ''; }">
                                </li>
                                <li>
                                    <input type="text" value="Confirm Password" onblur="if(this.value == '') { this.value ='Confirm Password'; }" onfocus="if(this.value =='Confirm Password') { this.value = ''; }">
                                </li>
                                <li>
                                    <input type="submit" value="Create Account">
                                </li>
                            </ul>
                        </form>
                        <span class="ec-color">or signup with your socials:</span>
                        <ul class="ec-login-social-media">
                            <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li class="ec-twitter-color"><a href="#"><i class="fa fa-twitter"></i> twitter</a></li>
                            <li class="ec-googleplus-color"><a href="#"><i class="fa fa-google-plus-square"></i> Google+</a></li>
                        </ul>
                        <p>Already a member? <a href="#">Sign-in Here!</a></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- ModalLogin Box -->
    
    <!-- Modal image Box -->
    <div class="modal fade" id="Modalimage" tabindex="-1" role="dialog">
        <div class="modal-dialog wdth" role="document">
            <div class="modal-content">
                <div class="modal-header">Enter Here for Testimonial
                    <span class="ec-color">Click on image for Register</span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                    <div class="modal-body pdnggg">
                        <div class="ec-modallogin-form ec-login-popup">                           
                           
                            <div>
                                <a href="@Url.Action("OfferForm","Home")"> <img src="~/rpl/images/offer_img.jpg" /></a>
                            </div>

                        </div>

                    </div>
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- ModalLogin Box -->

    <!-- ModalLogin Box -->
    <div class="modal fade" id="ModalTestimonial" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="ec-modallogin-form ec-login-popup">
                        <span class="ec-color">Enter here for Testimonial</span>
                      @using (Html.BeginForm("Testimonial", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                      {
                        <ul>
                            <li>
                                <input name="file" type="file" placeholder="Choose file">
                            </li>
                            <li>
                                <input name="FirstName" type="text" placeholder="Your First Name" required>
                            </li>
                            <li>
                                <input name="LastName" type="text" placeholder="Your Last Name">
                            </li>
                            <li>
                                <input name="Email" type="text" placeholder="Your E-mail">
                            </li>
                            <li>
                                <input name="PhoneNo" type="text" placeholder="Your Phone No">
                            </li>
                            <li>
                                <input name="Brokerage" type="text" placeholder="Your Brokerage">
                            </li>
                            <li>
                                <textarea name="Remarks" id="Comment" class="txtarea" placeholder="Description" required></textarea>
                            </li>

                            <li>
                                <input type="submit" value="Register">
                            </li>
                        </ul>
                      }
                      
                       
                    </div>
                
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- ModalLogin Box -->

   
    <!-- jQuery (necessary for JavaScript plugins) -->


    <script src="~/rpl/script/jquery.js"></script>
    <script src="~/rpl/script/modernizr.js"></script>
    <script src="~/rpl/script/bootstrap.min.js"></script>
    <script src="~/rpl/script/jquery.dlmenu.js"></script>
    <script src="~/rpl/script/flexslider-min.js"></script>
    <script src="~/rpl/script/jquery.prettyphoto.js"></script>
    <script src="~/rpl/script/waypoints-min.js"></script>
    <script src="~/rpl/script/owl.carousel.min.js"></script>
    <script src="~/rpl/script/jquery.countdown.min.js"></script>
    <script src="~/rpl/script/fitvideo.js"></script>
    <script src="~/rpl/script/newsticker.js"></script>
    <script src="~/rpl/script/skills.js"></script>
    <script src="~/rpl/script/functions.js"></script>

   

    <script type="text/javascript">

        $(document).ready(function () {

            var val = '@ViewBag.AlertMessage';
            if (val === "Mail send successfully") {
                alert(val);
            } else if (val === "Mail not send successfully")
            {
                alert(val);
            }

            @*var username = '@Session["IsModalOpen"]';

            if (username == "Yes") {
                $("#Modalimage").modal('show');
            }*@



            $(document).on('click', '#OpenTestimonial', function (event) {
               
                $("#ModalTestimonial").modal('show');


            });

        });

        (function ($) {

            //Function to animate slider captions
            function doAnimations(elems) {
                //Cache the animationend event in a variable
                var animEndEv = 'webkitAnimationEnd animationend';

                elems.each(function () {

                    var $this = $(this),
                        $animationType = $this.data('animation');
                    $this.addClass($animationType).one(animEndEv, function () {
                        $this.removeClass($animationType);
                    });
                });
            }

            //Variables on page load
            var $myCarousel = $('#carousel-example-generic'),
                $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");

            //Initialize carousel
            $myCarousel.carousel();

            //Animate captions in first slide on page load
            doAnimations($firstAnimatingElems);

            //Pause carousel
            $myCarousel.carousel('pause');


            //Other slides to be animated on carousel slide event
            $myCarousel.on('slide.bs.carousel', function (e) {
                var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
                doAnimations($animatingElems);
            });
            $('#carousel-example-generic').carousel({
                interval: 3000,
                pause: "false"
            });

        })(jQuery);


    </script>
    <script>
       
        function ValidEmail() {
            //Email validation
            var Email = $("#Email").val();
            Email = Email.replace(/\s/g, '');
            if (Email !== '') {
                var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
              if (!emailReg.test(Email)) {
                    alert('please enter the valid email.');
                    $("#Email").addClass('validation_control');
                    return false;
                }
                else {
                    $("#Email").removeClass('validation_control');
                    return true;
                }
            }
            else {
                $("#Email").addClass('validation_control');
                alert('must enter email.');
                return false;
            }

            //End
        }
       
        function Send() {
            debugger;


            if (ValidEmail()) {
                var person = {
                    FirstName: $("#FirstName").val(),
                    FirstName: $("#LastName").val(),
                    Email: $("#Email").val(),
                    PhoneNo: $("#Phone").val(),
                    Brokerage: $("#Brokerage").val()
                }


                $.ajax({
                    url: '/Registration/registration',
                    type: 'post',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#loading-image").show();
                        $('.bdy_div').addClass('mainbody');
                    },
                    success: function (data) {
                        debugger;
                        if (data.msg == "Email is already exist. ")
                        {
                            alert('Email is already exist.');
                            return false;
                        }
                      $("#FirstName").val(""),
                        $("#LastName").val(""),
                       $("#Email").val(""),
                       $("#Phone").val(""),
                       $("#Brokerage").val("")
                      alert(data.msg);
                      //$('#ModalLogin').hide();
                    },
                    data: person
                });
            }
            else {
                return false;
            }
        }
    </script>
    <!--<script>
    var options = {
        newsList: "#ec-news",
        startDelay: 10,
        placeHolder1: ""
    }
    jQuery().newsTicker(options);
    </script>-->


</body>

</html>

