@{ Layout = null;} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Match Result</title>
    <!-- Css Files -->
    <link href="~/rpl/css/bootstrap.css" rel="stylesheet">
    <link href="~/rpl/css/font-awesome.css" rel="stylesheet">
    <link href="~/rpl/css/style.css" rel="stylesheet">
    <link href="~/rpl/css/owl.carousel.css" rel="stylesheet">
    <link href="~/rpl/css/color.css" rel="stylesheet">
    <link href="~/rpl/css/dl-menu.css" rel="stylesheet">
    <link href="~/rpl/css/flexslider.css" rel="stylesheet">
    <link href="~/rpl/css/prettyphoto.css" rel="stylesheet">
    <link href="~/rpl/css/responsive.css" rel="stylesheet">
   
</head>

<body>
    <!--// Main Wrapper \\-->
    <div class="ec-main-wrapper">
       
        <!--// Main Header \\-->
        <header id="ec-header">
            <!--// TopSection \\-->
            <div class="ec-top-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="ec-strip-info">
                                <li><i class="fa fa-phone"></i> 416-844-5725 </li>
                                 <li><i class="fa fa-phone"></i> 905-452-3638</li>
                               <li><i class="fa fa-envelope-o"></i> <a href="#">info@rplcanada.com</a></li>
                            </ul>
                            <div class="ec-login-section">
                                @*<a href="#" id="OpenTestimonial" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-animation="animated zoomInLeft">Add Your Testimonial</a>*@
                                <a href="https://www.youtube.com/channel/UCwBAnrj6AgzDhxD2SB9Lehg" target="_blank" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-animation="animated zoomInLeft">
								RPL 2018 Videos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// TopSection \\-->
            <!--// Main Header \\-->
            <div class="ec-main-navsection">
                <div class="container">
                    <a href="#" class="ec-logo"><img src="~/rpl/images/logo-1.png" alt=""></a>
                    <div class="ec-right-section">
                        <nav class="ec-navigation">
                            <ul>
                                <li class="active"><a href="/home/index">Home</a></li>
                                <li><a href="/home/about_us">about us</a></li>
                                <li><a href="#">Teams 2017</a>
                                 <ul class="as-dropdown">
                                        <li><a href="/home/team1">Team Rajiv</a></li>
                                        <li><a href="/home/team2">Homelife Superstars</a></li>
                                        <li><a href="/home/team3">Re/Max Lions</a></li>
                                        <li><a href="/home/team4">Royal LePage Flowercity</a></li>
                                        <li><a href="/home/team5">Homelife Miracle 1</a></li>
                                        <li><a href="/home/team6">Re/Max Gold</a></li>
                                        <li><a href="/home/team7">Royal Star</a></li>
                                        <li><a href="/home/team8">Homelife Mircle 2</a></li>
                                        <li><a href="/home/team9">Re/Max Warriors</a></li>
                                    </ul>
                                </li>
								<li><a href="#">Teams 2018</a>
                                 <ul class="as-dropdown">
                                        <li><a href="#">Royal Star</a></li>
                                        <li><a href="#">Royal LePage Flowercity</a></li>
                                        <li><a href="#">Homelife Silver City</a></li>
										<li><a href="#">Superstar XI</a></li>
										<li><a href="#">Gujarat Royals</a></li>
                                        <li><a href="#">Miracle Strikers</a></li>
                                        <li><a href="#">Miracle XI</a></li>
										<li><a href="#">Miracle Blasters</a></li>
										<li><a href="#">Maple Leaf</a></li>
                                        <li><a href="#">Re/Max Gold</a></li>
										 <li><a href="#">Re/Max Center</a></li>
										  <li><a href="#">Re/Max Lion</a></li>
                                        <li><a href="#">CB Sun Kings</a></li>
                                        <li><a href="#">Sutton Experts</a></li>
                                       <li><a href="#">Century21 Green</a></li>
                                    </ul>
                                </li>
                                 <li><a href="/home/match_scedule">Match Schedule</a>
                                </li>
                                <li><a href="#">Match Results</a>
                                </li>
                                <li>
                                    <a href="#">Points Table</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/points_table">Points Table 2017</a></li>
                                        <li><a href="/home/points_table_2">Points Table 2018</a></li>
                                    </ul>

                                </li>
                                 <li><a href="/home/main_gallery">Gallery</a>
                                </li>
                                <li><a href="/home/contact_us">Contact us</a>
                                </li>
                            </ul>
                        </nav>
                        <!--// Responsive Menu //-->
                        <div id="as-menu" class="as-menuwrapper">
                            <button class="as-trigger">Open Menu</button>
                            <ul class="as-menu">
                                <li class="active"><a href="/home/index">Home</a></li>
                                <li><a href="/home/about_us">about us</a></li>
                                <li><a href="#">Teams 2017</a>
                                <ul class="as-submenu">
                                        <li><a href="/home/team1">Team Rajiv</a></li>
                                        <li><a href="/home/team2">Homelife Superstars</a></li>
                                        <li><a href="/home/team3">Re/Max Lions</a></li>
                                        <li><a href="/home/team4">Royal LePage Flowercity</a></li>
                                        <li><a href="/home/team5">Homelife Miracle 1</a></li>
                                        <li><a href="/home/team6">Re/Max Gold</a></li>
                                        <li><a href="/home/team7">Royal Star</a></li>
                                        <li><a href="/home/team8">Homelife Mircle 2</a></li>
                                        <li><a href="/home/team9">Re/Max Warriors</a></li>
                                    </ul>
                                 </li>
								 <li><a href="#">Teams 2018</a>
                                   <ul class="as-submenu">
                                        <li><a href="#">Royal Star</a></li>
                                        <li><a href="#">Royal LePage Flowercity</a></li>
                                        <li><a href="#">Homelife Silver City</a></li>
										<li><a href="#">Superstar XI</a></li>
										<li><a href="#">Gujarat Royals</a></li>
                                        <li><a href="#">Miracle Strikers</a></li>
                                        <li><a href="#">Miracle XI</a></li>
										<li><a href="#">Miracle Blasters</a></li>
										<li><a href="#">Maple Leaf</a></li>
                                        <li><a href="#">Re/Max Gold</a></li>
										 <li><a href="#">Re/Max Center</a></li>
										  <li><a href="#">Re/Max Lion</a></li>
                                        <li><a href="#">CB Sun Kings</a></li>
                                        <li><a href="#">Sutton Experts</a></li>
                                       <li><a href="#">Century21 Green</a></li>
                                    </ul>
                                </li>
                                 <li><a href="/home/match_scedule">Match Schedule</a>
                                </li>
                                <li><a href="#">Match Results</a>
                                </li>
                                <li>
                                    <a href="#">Points Table</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/points_table">Points Table 2017</a></li>
                                        <li><a href="/home/points_table_2">Points Table 2018</a></li>
                                    </ul>

                                </li>
                                  <li><a href="/home/main_gallery">Gallery</a>
                                </li>
                                <li><a href="/home/contact_us">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <!--// Responsive Menu //-->
                        
                    </div>
                </div>
            </div>
            <!--// Main Header \\-->
        </header>
        <!--// Main Header \\-->
        <!--// Main Banner \\-->
        <div class="ec-mini-header">
            <span class="ec-blue-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-mini-title">
                            <h1>Match Results</h1>
                        </div>
                        <div class="ec-breadcrumb">
                            <ul>
                                <li><a href="/home/index">Home</a></li>
                                <li>Match Results</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Banner \\-->
        <!--// Main Content \\-->
        <div class="ec-main-content">
            <!--// Main Section \\-->
            <div class="ec-main-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ec-blog ec-blog-medium ec-search-result">
                                <ul class="row">
                                    <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog1.jpg" alt=""></a>
                                                <figcaption>
                                                    <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 1</a></li>
                                                </ul>
                                                <h2><a href="#">Homelife Superstars &nbsp; &nbsp;vs&nbsp; &nbsp; Team Rajiv</a></h2>
                                                <p>Home Life Superstars  107 in 15 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   Team Rajiv 70 in 15 Overs 
                                               <br/>
                                               <b>Home Life Superstars win  by 37 runs</b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog2.jpg" alt=""></a>
                                                <figcaption>
                                                   <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 2</a></li>
                                                </ul>
                                                <h2><a href="#">Royal LePage Flower City &nbsp; &nbsp;vs&nbsp; &nbsp;  Remax Gold</a></h2>
                                                <p>Remax Gold 87 in 15 Overs  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Royal Lepage 88 in 14 overs
                                               <br/>
                                               <b>Royal LePage Flower City  win by 6 wickets</b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog3.jpg" alt=""></a>
                                                <figcaption>
                                                    <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 3</a></li>
                                                </ul>
                                                <h2><a href="#">Remax Lions &nbsp; &nbsp;vs&nbsp; &nbsp; Team Rajiv</a></h2>
                                                <p>Remax Lions  137 in 15 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   Team Rajiv 136 in 15 Overs 
                                               <br/>
                                               <b>Remax Lions win  by 1 run</b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog4.jpg" alt=""></a>
                                                <figcaption>
                                                    <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 4</a></li>
                                                </ul>
                                                <h2><a href="#">Remax Warriors &nbsp; &nbsp;vs&nbsp; &nbsp; Homelife Miracle 2</a></h2>
                                                <p>Remax Warriors 153 in 15 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   Homelife Miracle2 84 in 15 Overs 
                                               <br/>
                                               <b>Remax Warriors win  by 69 runs</b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog2.jpg" alt=""></a>
                                                <figcaption>
                                                    <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 5</a></li>
                                                </ul>
                                                <h2><a href="#">Royal Lepage Flowercity &nbsp; &nbsp;vs&nbsp; &nbsp; Homelife Miracle 1</a></h2>
                                                <p>Royal Lepage Flowercity  70 in 14 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   Homelife Miracle1 69 in 15 Overs 
                                               <br/>
                                               <b>Royal Lepage Flowercity win  by 1 runs</b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog6.jpg" alt=""></a>
                                                <figcaption>
                                                    <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 6</a></li>
                                                </ul>
                                                <h2><a href="#">Remax Warriors &nbsp; &nbsp;vs&nbsp; &nbsp; Royal Star</a></h2>
                                                <p>Remax Warriors  126 in 15 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   Royal Star 127 in 15 Overs 
                                               <br/>
                                               <b>Royal Star Won the Match </b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog5.jpg" alt=""></a>
                                                <figcaption>
                                                   <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 7</a></li>
                                                </ul>
                                                <h2><a href="#">Homelife Miracle 1 &nbsp; &nbsp;vs&nbsp; &nbsp; Remax Gold</a></h2>
                                                <p>Homelife Miracle1  68 in 14 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Remax Gold 58 in 15 Overs 
                                               <br/>
                                               <b>Homelife Miracle 1 Won the Match </b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                     <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog1.jpg" alt=""></a>
                                                <figcaption>
                                                    <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 8</a></li>
                                                </ul>
                                                <h2><a href="#">Remax Lions &nbsp; &nbsp;vs&nbsp; &nbsp; Homelife Superstars</a></h2>
                                                <p>Remax Lions  110 in 15 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Homelife Superstars 113 in 12 Overs 
                                               <br/>
                                               <b>Homelife Superstars Won the Match </b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    
                                     <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog6.jpg" alt=""></a>
                                                <figcaption>
                                                    <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 9</a></li>
                                                </ul>
                                                <h2><a href="#">Homelife Miracle 2 &nbsp; &nbsp;vs&nbsp; &nbsp; Royal Star</a></h2>
                                                <p>Homelife Miracle2  79 in 10 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Royal Star 80 in 9 Overs 
                                               <br/>
                                               <b>Royal Star Won the Match </b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    
                                     <li class="col-md-12">
                                        <div class="ec-blog-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/blog3.jpg" alt=""></a>
                                                <figcaption>
                                                     <a href="#" class="fa fa-compress ec-playbutton"></a>
                                                </figcaption>
                                            </figure>
                                            <div class="ec-blog-text">
                                                <ul class="ec-blog-option">
                                                    <li><a href="#" class="ec-colorhover">Match 10</a></li>
                                                </ul>
                                                <h2><a href="#">Remax Lions &nbsp; &nbsp;vs&nbsp; &nbsp; Homelife Superstars</a></h2>
                                                <p>Remax Lions 87 in 12 overs &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Homelife Superstars 86 in 15 Overs 
                                               <br/>
                                               <b>Remax Lions Won the Match </b><br/>
                                               <a href="#" class="ec-color">Click here for Gallery</a></p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
        </div>
        <!--// Main Content \\-->
        <footer id="ec-footer">
           
            <!--// Footer Widget \\-->
            <div class="ec-footer-widget">
                <div class="container">
                    <div class="row">
                        <aside class="widget col-md-4 ec-recentnews_widget">
                            <div class="ec-section-heading">
                            <img src="~/rpl/extra-images/futer_img1.png" alt="" title=""/>
                               </div>
                            
                        </aside>
                        <aside class="widget col-md-4 ec-recentnews_widget">
                            <div class="ec-section-heading">
                            <img src="~/rpl/extra-images/futer_img2.png" alt="" title=""/>
                               </div>
                            
                        </aside>
                       
                        <aside class="widget col-md-4 widget_text_info">
                            <div class="ec-section-heading">
                                <h2>Contact Info</h2></div>
                            <ul>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <span>info@rplcanada.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span>416-844-5725</span>
                                </li>
                                 <li>
                                    <i class="fa fa-phone"></i>
                                    <span>905-452-3638</span>
                                </li>
                            </ul>
                            
                        </aside>
                    </div>
                </div>
            </div>
            <!--// Footer Widget \\-->
            <!--// CopyRight Section \\-->
            <div class="ec-bottom-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="#" class="ec-footer-logo"><img src="~/rpl/images/footer-logo.png" alt=""></a>
                            <div class="ec-copyright">
                                <p>RPL © Copyright 2017. All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="ec-right-section">
                                <a href="/home/index" class="backtop-btn">Back to top <i class="fa fa-caret-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// CopyRight Section \\-->
        </footer>
    </div>
    <!--// Main Wrapper \\-->
    <!-- ModalLogin Box -->
    <div class="modal fade" id="ModalTestimonial" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="ec-modallogin-form ec-login-popup">
                        <span class="ec-color">Enter here for Testimonial</span>
                        @using (Html.BeginForm("Testimonial", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <ul>
                                <li>
                                    <input name="file" type="file" placeholder="Choose file">
                                </li>
                                <li>
                                    <input name="FirstName" type="text" placeholder="Your First Name" required>
                                </li>
                                <li>
                                    <input name="LastName" type="text" placeholder="Your Last Name">
                                </li>
                                <li>
                                    <input name="Email" type="text" placeholder="Your E-mail">
                                </li>
                                <li>
                                    <input name="PhoneNo" type="text" placeholder="Your Phone No">
                                </li>
                                <li>
                                    <input name="Brokerage" type="text" placeholder="Your Brokerage">
                                </li>
                                <li>
                                    <textarea name="Remarks" id="Comment" class="txtarea" placeholder="Description" required></textarea>
                                </li>
                                <li>
                                    <input type="submit" value="Register">
                                </li>
                            </ul>
                        }


                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- ModalLogin Box -->
    <!-- jQuery (necessary for JavaScript plugins) -->
    <script src="~/rpl/script/jquery.js"></script>
    <script src="~/rpl/script/modernizr.js"></script>
    <script src="~/rpl/script/bootstrap.min.js"></script>
    <script src="~/rpl/script/jquery.dlmenu.js"></script>
    <script src="~/rpl/script/flexslider-min.js"></script>
    <script src="~/rpl/script/jquery.prettyphoto.js"></script>
    <script src="~/rpl/script/waypoints-min.js"></script>
    <script src="~/rpl/script/owl.carousel.min.js"></script>
    <script src="~/rpl/script/jquery.countdown.min.js"></script>
    <script src="~/rpl/script/fitvideo.js"></script>
    <script src="~/rpl/script/newsticker.js"></script>
    <script src="~/rpl/script/skills.js"></script>
    <script src="~/rpl/script/functions.js"></script>
    <script>
    var options = {
        newsList: "#ec-news",
        startDelay: 10,
        placeHolder1: ""
    }
    jQuery().newsTicker(options);
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).on('click', '#OpenTestimonial', function (event) {

                $("#ModalTestimonial").modal('show');


            });

        });
    </script>
</body>

</html>
