@{ Layout = null;} <!DOCTYPE html>
<html lang="en">

<head>
<meta name="google-site-verification" content="VGCGUVGYf2E8Aca1HoDDqRDhjfn44Sy5aJbo7lAo83M" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>Plyer List</title>
    <!-- Css Files -->
    <link href="~/rpl/css/bootstrap.css" rel="stylesheet">
    <link href="~/rpl/css/font-awesome.css" rel="stylesheet">
    <link href="~/rpl/css/style.css" rel="stylesheet">
    <link href="~/rpl/css/owl.carousel.css" rel="stylesheet">
    <link href="~/rpl/css/color.css" rel="stylesheet">
    <link href="~/rpl/css/dl-menu.css" rel="stylesheet">
    <link href="~/rpl/css/flexslider.css" rel="stylesheet">
    <link href="~/rpl/css/prettyphoto.css" rel="stylesheet">
    <link href="~/rpl/css/responsive.css" rel="stylesheet">
<script type="application/ld+json">
        {
        "context" : "http://schema.org",
        "type" : "SportsClub",
        "address" : {
        "type": "PostalAddress",
        "addressLocality": "Brampton",
        "addressRegion": "ON",
        "postalCode": "L6T 5C6",
        "streetAddress": "8500 Torbram Rd #54" },
        "name":"RPL Canada",
        "url":"http://rplcanada.com",
        "email":"info@rplcanada.com",
        "priceRange":"$",
        "telephone":"4168445725",
         "image": "http://rplcanada.com/rpl/images/logo-1.png"
        }
    </script>
  </head>

<body>
    <!--// Main Wrapper \\-->
    <div class="ec-main-wrapper">
       
        <!--// Main Header \\-->
        <header id="ec-header">
            <!--// TopSection \\-->
            <div class="ec-top-strip">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="ec-strip-info">
                                <li><a href="tel:416-844-5725"><i class="fa fa-phone"></i> 416-844-5725 </li></a>
                                <li><a  href="tel:905-452-3638"><i class="fa fa-phone"></i> 905-452-3638</li></a>
                               <li><i class="fa fa-envelope-o"></i><a href="mailto:info@rplcanada.com">info@rplcanada.com</a></li>
                            </ul>
							<div class="icons">						
							<a href="https://www.facebook.com/RPL-Canada-333998513720661/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://twitter.com/RplCanada"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							<a href="https://www.pinterest.ca/rplcanada/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
							<a href="https://www.instagram.com/rplcanada/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://plus.google.com/109638228297400072569"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                           
                            <div class="ec-login-section">
                                @*<a href="#" id="OpenTestimonial" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-animation="animated zoomInLeft">Add Your Testimonial</a>*@
                                <a href="../Registration/Index" class="ec-login-section-btn ec-bgcolor" data-toggle="modal" data-animation="animated zoomInLeft">Book Tickets For Opening Ceremony</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// TopSection \\-->
            <!--// Main Header \\-->
            <div class="ec-main-navsection">
                <div class="container">
                    <a href="#" class="ec-logo"><img src="~/rpl/images/logo-1.png" alt=""></a>
                    <div class="ec-right-section">
                        <nav class="ec-navigation">
                            <ul>
                                <li class="active"><a href="/home/index">Home</a></li>
                                <li><a href="/home/about_us">about us</a></li>
                                <li><a href="#">Teams 2018</a>
                                 <ul class="as-dropdown">
                                       <li><a href="#">Silver City</a></li>
                                        <li><a href="/home/team_2018_2">Re/Max Lions</a></li>
                                        <li><a href="/home/team_2018_3">Cb Sun Kings</a></li>
                                        <li><a href="/home/team_2018_4">Royal Star</a></li>
                                        <li><a href="/home/team_2018_5">Remax Centre</a></li>
                                        <li><a href="/home/team_2018_6">Maple Leaf</a></li>
                                        <li><a href="/home/team_2018_7">Superstar XI</a></li>
                                        <li><a href="/home/team_2018_8">Sutton Experts</a></li>
                                        <li><a href="/home/team_2018_9">Flower city</a></li>
										<li><a href="/home/team_2018_10">Gujrat Royals</a></li>
                                        <li><a href="/home/team_2018_11">Miracle Blasters</a></li>
                                        <li><a href="/home/team_2018_12">Re/Max Gold</a></li>
                                        <li><a href="/home/team_2018_13">Miracle XI</a></li>
                                        <li><a href="/home/team_2018_14">Miracle Strikers</a></li>
                                        <li><a href="/home/team_2018_15">Century 21 Green</a></li>
                                    </ul>
                                </li>
                                 <li><a href="/home/match_scedule">Match Schedule</a>
                                </li>
                                @*<li><a href="/home/match_result">Match Results</a>
                                </li>*@
                                <li>
                                    <a href="#">Points Table</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/points_table">Points Table 2017</a></li>
                                        <li><a href="/home/points_table_2">Points Table 2018</a></li>
                                    </ul>

                                </li>
                                 <li><a href="/home/main_gallery">Gallery</a>
                                </li>
                                <li><a href="/home/contact_us">Contact us</a>
                                </li>
                            </ul>
                        </nav>
                        <!--// Responsive Menu //-->
                        <div id="as-menu" class="as-menuwrapper">
                            <button class="as-trigger">Open Menu</button>
                            <ul class="as-menu">
                                <li class="active"><a href="/home/index">Home</a></li>
                                <li><a href="/home/about_us">about us</a></li>
                                <li><a href="#">Teams 2018</a>
                                <ul class="as-submenu">
                                        <li><a href="#">Silver City</a></li>
                                        <li><a href="/home/team_2018_2">Re/Max Lions</a></li>
                                        <li><a href="/home/team_2018_3">Cb Sun Kings</a></li>
                                        <li><a href="/home/team_2018_4">Royal Star</a></li>
                                        <li><a href="/home/team_2018_5">Remax Centre</a></li>
                                        <li><a href="/home/team_2018_6">Maple Leaf</a></li>
                                        <li><a href="/home/team_2018_7">Superstar XI</a></li>
                                        <li><a href="/home/team_2018_8">Sutton Experts</a></li>
                                        <li><a href="/home/team_2018_9">Flower city</a></li>
										<li><a href="/home/team_2018_10">Gujrat Royals</a></li>
                                        <li><a href="/home/team_2018_11">Miracle Blasters</a></li>
                                        <li><a href="/home/team_2018_12">Re/Max Gold</a></li>
                                        <li><a href="/home/team_2018_13">Miracle XI</a></li>
                                        <li><a href="/home/team_2018_14">Miracle Strikers</a></li>
                                        <li><a href="/home/team_2018_15">Century 21 Green</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="/home/match_scedule">Match Schedule</a>
                                </li>
                                @*<li><a href="/home/match_result">Match Results</a>
                                </li>*@
                                <li>
                                    <a href="#">Points Table</a>
                                    <ul class="as-dropdown">
                                        <li><a href="/home/points_table">Points Table 2017</a></li>
                                        <li><a href="/home/points_table_2">Points Table 2018</a></li>
                                    </ul>

                                </li>
                                  <li><a href="/home/main_gallery">Gallery</a>
                                </li>
                                <li><a href="/home/contact_us">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <!--// Responsive Menu //-->
                        
                    </div>
                </div>
            </div>
            <!--// Main Header \\-->
        </header>
        <!--// Main Header \\-->
        <!--// Main Banner \\-->
        <div class="ec-mini-header">
            <span class="ec-blue-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ec-mini-title">
                            <h1>Sutton Experts(Group B)</h1>
                        </div>
                        <div class="ec-breadcrumb">
                            <ul>
                                <li><a href="/home/index">Home</a></li>
                                <li>Sutton Experts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Banner \\-->
        <!--// Main Content \\-->
        <div class="ec-main-content">
            <!--// Main Section \\-->
            <div class="ec-main-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ec-team ec-team-grid">
                                <ul class="row">
                                <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">RAKESH SHARMA</a></h3>
                                                    <small>Broker of Record</small>
                                                </div>
                                                
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-6">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-1.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">Sutton Experts</a></h3>
                                                    <small>Realtor Premier League 2018</small>
                                                </div>
                                                
                                                <span class="ec-plyer-info">Organised by: Only4Agents & Singh Graphics</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">TEAM CAPTAIN</a></h3>
                                                    <small>Captain</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">00</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">RAKESH</a></h3>
                                                    <small>Batsman</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">11</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">AMRINDER</a></h3>
                                                     <small>Batsman</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">05</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                 <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">AMRIT</a></h3>
                                                    <small>Batsman</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">23</span>
                                                 <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">JASS</a></h3>
                                                    <small>Batsman</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">13</span>
                                              <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">RAJ</a></h3>
                                                    <small>All-Rounder</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">01</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                 <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">BOBBY</a></h3>
                                                    <small>All-Rounder</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">09</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                 <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">KHUSH</a></h3>
                                                    <small>All-Rounder</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">07</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">JAG</a></h3>
                                                    <small>Bowler</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">02</span>
                                               <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                 <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">GILL</a></h3>
                                                    <small>Batsman/Wicket Keeper</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">03</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                                <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">DHAWAN</a></h3>
                                                    <small>Batsman</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">10</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                             <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">RAJESH</a></h3>
                                                    <small>All-Rounder</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">21</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-3">
                                        <div class="ec-team-wrap">
                                            <figure>
                                            <a href="#"><img src="~/rpl/extra-images/team-grid-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-team-info">
                                                <div class="ec-forinfo">
                                                    <h3><a href="#">GAGAN</a></h3>
                                                    <small>Batsman</small>
                                                </div>
                                                <span class="ec-goal-counter ec-bgcolor">22</span>
                                                <span class="ec-plyer-info">Sutton Experts</span>
                                            </div>
                                        </div>
                                    </li>
                                    
                                    
                                    
									
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--// Main Section \\-->
        </div>
        <!--// Main Content \\-->
        <footer id="ec-footer">
           
            <!--// Footer Widget \\-->
            <div class="ec-footer-widget">
                <div class="container">
                    <div class="row">
                        <aside class="widget col-md-4 ec-recentnews_widget">
                            <div class="ec-section-heading">
                            <img src="~/rpl/extra-images/futer_img1.png" alt="" title=""/>
                               </div>
                            
                        </aside>
                        <aside class="widget col-md-4 ec-recentnews_widget">
                            <div class="ec-section-heading">
                            <img src="~/rpl/extra-images/futer_img2.png" alt="" title=""/>
                               </div>
                            
                        </aside>
                       
                        <aside class="widget col-md-4 widget_text_info">
                            <div class="ec-section-heading">
                                <h2>Contact Info</h2></div>
                            <ul>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <span><a href="mailto:info@rplcanada.com">info@rplcanada.com</a></span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:416-844-5725">416-844-5725</a></span>
                                </li>
                                 <li>
                                    <i class="fa fa-phone"></i>
                                    <span><a href="tel:905-452-3638">905-452-3638</a></span>
                                </li>
								<div class="icon">						
							<a href="https://www.facebook.com/RPL-Canada-333998513720661/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
							<a href="https://twitter.com/RplCanada"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							<a href="https://www.pinterest.ca/rplcanada/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
							<a href="https://www.instagram.com/rplcanada/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="https://plus.google.com/109638228297400072569"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                            </ul>
                            
                        </aside>
                    </div>
                </div>
            </div>
            <!--// Footer Widget \\-->
            <!--// CopyRight Section \\-->
            <div class="ec-bottom-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="index" class="ec-footer-logo"><img src="~/rpl/images/footer-logo.png" alt=""></a>
                            <div class="ec-copyright">
                                <p><a href="index">RPL © Copyright 2018. All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="ec-right-section">
                                <a href="/home/index" class="backtop-btn">Back to top <i class="fa fa-caret-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--// CopyRight Section \\-->
        </footer>
    </div>
    <!--// Main Wrapper \\-->
    <!-- ModalLogin Box -->
    <div class="modal fade" id="ModalTestimonial" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="ec-modallogin-form ec-login-popup">
                        <span class="ec-color">Enter here for Testimonial</span>
                        @using (Html.BeginForm("Testimonial", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <ul>
                                <li>
                                    <input name="file" type="file" placeholder="Choose file">
                                </li>
                                <li>
                                    <input name="FirstName" type="text" placeholder="Your First Name" required>
                                </li>
                                <li>
                                    <input name="LastName" type="text" placeholder="Your Last Name">
                                </li>
                                <li>
                                    <input name="Email" type="text" placeholder="Your E-mail">
                                </li>
                                <li>
                                    <input name="PhoneNo" type="text" placeholder="Your Phone No">
                                </li>
                                <li>
                                    <input name="Brokerage" type="text" placeholder="Your Brokerage">
                                </li>
                                <li>
                                    <textarea name="Remarks" id="Comment" class="txtarea" placeholder="Description" required></textarea>
                                </li>
                                <li>
                                    <input type="submit" value="Register">
                                </li>
                            </ul>
                        }


                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- ModalLogin Box -->
    <!-- jQuery (necessary for JavaScript plugins) -->
    <script src="~/rpl/script/jquery.js"></script>
    <script src="~/rpl/script/modernizr.js"></script>
    <script src="~/rpl/script/bootstrap.min.js"></script>
    <script src="~/rpl/script/jquery.dlmenu.js"></script>
    <script src="~/rpl/script/flexslider-min.js"></script>
    <script src="~/rpl/script/jquery.prettyphoto.js"></script>
    <script src="~/rpl/script/waypoints-min.js"></script>
    <script src="~/rpl/script/owl.carousel.min.js"></script>
    <script src="~/rpl/script/jquery.countdown.min.js"></script>
    <script src="~/rpl/script/fitvideo.js"></script>
    <script src="~/rpl/script/newsticker.js"></script>
    <script src="~/rpl/script/skills.js"></script>
    <script src="~/rpl/script/functions.js"></script>
    <script>
    var options = {
        newsList: "#ec-news",
        startDelay: 10,
        placeHolder1: ""
    }
    jQuery().newsTicker(options);
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).on('click', '#OpenTestimonial', function (event) {

                $("#ModalTestimonial").modal('show');


            });

        });
    </script>
</body>

</html>
